<ion-header>
	<ion-navbar color="dark">
		<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title>Home</ion-title>
	</ion-navbar>
</ion-header>

<ion-content no-padding class="main-body">
	<div class="slider-container" *ngIf="banners">
		<ion-slides #islide [effect]="'slide'" [pager]="true" [autoplay]="3000" [loop]="true" [initialSlide]="0" [speed]="300" [direction]="'horizontal'"
		 (ionSlideDidChange)="slideChanged()" color="primary">
			<ion-slide *ngFor="let slider of sliders | async">
				<img src="https://pizzacrust.com.pk/public_html/main-slider/{{ slider?.bannerImage }}" height="100px">
			</ion-slide>
		</ion-slides>
	</div>

	<ion-card no-padding class="banner-container" *ngFor="let banner of banners | async">
		<img src="https://pizzacrust.com.pk/public_html/main-slider/{{ banner?.bannerImage }}" />
	</ion-card>

	<ion-card class="subscribe-container">
		<div class="subscribe-img">
			<img src="/assets/media/pattern-1.png" />
		</div>

		<div class="subscribe-label">
			Sign up for the newsletter and get exclusive deals.
		</div>

		<div class="subscribe-btn" padding>
			<button ion-button full color="secondary">SIGN UP NOW!</button>
		</div>
	</ion-card>
</ion-content>