<ion-header>
	<ion-navbar color="dark">
		<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title>Home</ion-title>
	</ion-navbar>
	<network-connection></network-connection>
</ion-header>


<ion-content no-padding class="main-body">
	<div class="slider-container">
		<ion-slides *ngIf="sliderHasData; else slidesLoading" #islide 
			[effect]="'slide'" [pager]="true" [autoplay]="3000" [loop]="true"
			[initialSlide]="0" [speed]="300" [direction]="'horizontal'"
			(ionSlideDidChange)="slideChanged()" color="primary"
			(ionSlideTap)="clickSlider()" tappable>
			<ion-slide *ngFor="let slider of sliders">
				<img src="https://pizzacrust.com.pk/public_html/main-slider/{{ slider?.bannerImage }}" >
			</ion-slide>
		</ion-slides>
		<ng-template #slidesLoading>
			<ion-spinner name="bubbles" color="primary"></ion-spinner>
		</ng-template>
	</div>

	<div class="banner-container" *ngFor="let banner of banners | async" (click)="clickSlider(banner)">
		<img src="https://pizzacrust.com.pk/public_html/main-slider/{{ banner?.bannerImage }}" />
	</div>

	<div class="subscribe-container">
		<div class="subscribe-img">
			<img src="assets/media/pattern-1.png" />
		</div>

		<div class="subscribe-label">
			Sign up for the newsletter and get exclusive deals.
		</div>

		<div class="subscribe-btn" padding>
			<button ion-button full color="secondary" (click)="signUp()">SIGN UP NOW!</button>
		</div>
	</div>
</ion-content>