<!-- Generated template for the PizcruHeaderComponent component -->
<ion-navbar color="dark">
  <button ion-button menuToggle *ngIf="productType !== null">
    <ion-icon name="menu"></ion-icon>
  </button>

  <ion-title>{{ pageTitle }}</ion-title>

  <ion-buttons end>
    <button ion-button icon-only (click)="openFilter()" *ngIf="filter && dataLength" >
      <ion-icon name="funnel"></ion-icon>
    </button>

    <button ion-button icon-only *ngIf="productType === null">
      <ion-icon name="cart"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>