page-about-us {
  font-family: 'Josefin Sans', Helvetica, sans-serif;

  .main-body {

    ion-card {
      background: rgba(0,0,0,0.7);
      
      p {
        color: white;
        margin-bottom: 20px;
      }
    }

  }

}
