// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face {
    font-family: 'Fredericka the Great';
    src: url(../assets/fonts/FrederickatheGreat-Regular.ttf) format("truetype");
}

@font-face {
    font-family: 'Abril Fatface';
    src: url(../assets/fonts/AbrilFatface-Regular.ttf) format("truetype");
}

@font-face {
    font-family: 'Josefin Sans';
    src: url(../assets/fonts/JosefinSans-Regular.ttf) format("truetype");
}

.main-body {
    font-family: 'Josefin Sans';
    background: url(../assets/media/pattern-body.jpg) no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

ion-menu {
    .menu-inner {
        background: rgba(0,0,0,0.5) !important;
    }

    button[ion-item] {
        color: #fff;
        background: transparent;
        font-size: 20px;
    }

    ion-item-divider.item-divider {
        background: transparent;
    }

    ion-header {
        .pizcru-sidebar-header {
            height: 150px;
            width: 100%;
            background: url(../assets/media/bg-title.jpg) no-repeat 50% 0;
            background-size: cover;

            img{
                margin: auto;
                position: absolute;
                top: 0;
                bottom: 25px;
                left: 0;
                right: 0;
            }
        }
    }
}

ion-header {
    ion-navbar {
			position: relative;

			button[menutoggle] {
					z-index: 101;
			}

			button.back-button > .button-inner > .back-button-text {
					font-size: small;
			}

			button.back-button {
					z-index: 100;
			}

			.toolbar-content {
					margin: auto;
					position: absolute;
					left: 0;
					right: 0;
					text-align: center;
					z-index: 99;
        }
    }
}

.page-preloader {
	
	z-index: 99;

	position: fixed;

	background: #2e2e2e;
	
	height: 100%;

	width: 100%;

}

.page-preloader .spinner {

	position: absolute;

	z-index: 1001;

	top: 50%;

	left: 50%;

	display: block;

	width: 100px;

	height: 100px;

	margin-top: -50px;

	margin-left: -50px;

	-webkit-animation: spin 2.5s infinite linear;

	animation: spin 2.5s infinite linear;

	border: 3px solid transparent;

	border-top-color: #e7e4d7;

	border-radius: 50%;

}

.page-preloader .spinner:before, .page-preloader .spinner:after {

	position: absolute;

	content: '';

	border-radius: 50%;

}

.page-preloader .spinner:before {

	top: 5px;

	right: 5px;

	bottom: 5px;

	left: 5px;

	-webkit-animation: spin 2s infinite linear;

	animation: spin 2s infinite linear;

	border: 3px solid transparent;

	border-top-color:#71383e;

}

.page-preloader .spinner:after {

	top: 15px;

	right: 15px;

	bottom: 15px;

	left: 15px;

	-webkit-animation: spin 1s infinite linear;

	animation: spin 1s infinite linear;

	border: 3px solid transparent;

	border-top-color: #efa96b;

}

@-webkit-keyframes spin {

 0% {

 -webkit-transform: rotate(0);

transform: rotate(0);

}

100% {

 -webkit-transform: rotate(360deg);

transform: rotate(360deg);

}

}

@keyframes spin {

 0% {

 -webkit-transform: rotate(0);

transform: rotate(0);

}

100% {

 -webkit-transform: rotate(360deg);

transform: rotate(360deg);

}

}
