<ion-menu [content]="content" swipeOpenEnabled="false">
  <ion-header>
    <div class="pizcru-sidebar-header">
      <img src="../assets/img/logo_mod-a.png" width="120px">
    </div>
  </ion-header>

  <ion-content class="main-body">
    <ion-list no-lines>
      <button color="primary" menuClose ion-item *ngFor="let p of mainPages" (click)="openPage(p)">
        <ion-icon name="{{ p.icon }}"></ion-icon> {{p.title}}
      </button>
      <ion-item-divider></ion-item-divider>
      <button color="primary" menuClose ion-item *ngFor="let p of otherPages" (click)="openPage(p)">
        <ion-icon name="{{ p.icon }}"></ion-icon> {{p.title}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>