page-contact-us {
    font-family: 'Josefin Sans', Helvetica, sans-serif;

  .main-body {

    ion-card {
      background: rgba(0,0,0,0.7);

      agm-map {
        height: 300px;
      }

      > ion-label {
        font-family: 'Abril Fatface';
        font-size: 20px;
        color: #fdbc2c;
      }

      .item-md, .item-ios {
        ion-icon {
          padding-right: 10px;
        }
        
        background: transparent;
        color: white;
      }

      p {
        color: white;
        margin-bottom: 20px;
      }

      h3 {
        color: white;
        margin-bottom: 20px;
      }
    }

  }

}
