page-order-modal {
	font-family: 'Josefin Sans', Helvetica, sans-serif;

	.main-body {
		ion-card {
			background: rgba(0,0,0,0.5);

			ion-row {
				border-bottom: 1px solid ghostwhite;

				&.no-border-bottom {
					border: none;
				}

				ion-col[col-9] {
					> span {
						font-size: 30px;
					}
				}

				ion-col[col-3].many-total {
					text-align: right;
					padding-top: 14px;
				}
			}
		}

		ion-grid ion-row button {
      color: white;
      height: 40px;

      ion-icon {
        padding-right: 5px;
        font-size: 20px;
      }
    }
	}
}
